# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs and Editors
# Android Studio / IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
mediturno.iml

# Visual Studio Code
.vscode/
*.code-workspace

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/
**/doc/api/
.widget_preview/

# Environment Variables & Secrets
.env
.env.*
*.env
*.key
*.keystore
*.jks
*.p12
*.p8
*.mobileprovision
key.properties
local.properties
**/android/local.properties
**/android/key.properties

# Firebase & Cloud Credentials (descomentar si contienen secretos)
# google-services.json
# GoogleService-Info.plist

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android
**/android/.gradle/
**/android/captures/
/android/app/debug
/android/app/profile
/android/app/release
**/android/.cxx/

# iOS & macOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/.symlinks/
**/ios/DerivedData/
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/xcuserdata/

# Linux & Windows Desktop
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/
